
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:title" content="Poordooytify by Bernard Gabon" />
    <meta property="og:url" content="http://www.bernardgabon.com" />
    <meta property="og:description" content="A poor man's opensource web music player created by Bernard Gabon." />
    <title>@ViewBag.Title - Poordooytify by Bernard Gabon</title>

    @if (TempData["Message"] != null)
    {
        <script>
            alert('@TempData["Message"]')
        </script>
    }

    @if (HttpContext.Current.Request.IsLocal)
    {
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    }
    else
    {
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    }

    @* theme-color - The colour of the toolbar in Chrome M39+ *@
    <meta name="theme-color" content="#5cb85c">

    <style>
        body {
            margin-top: 90px;
            padding-bottom: 50px;
        }
        .hide-nav-footer {
            display: none !important;
        }
        .btnFooter {
            color: #fff !important;
            border-color: #fff !important;
        }

        .modal-body {
            max-height: calc(100vh - 100px);
            overflow-y: auto;
            font-size: smaller;
        }

        button img {
            max-width: 25px;
        }

        a {
            color: #378d37;
            text-decoration:none;
        }

            a:active, a.active, a:focus {
                color: #2b682b;
                text-decoration: none;
            }

        .card-outline-success {
            border-top: none !important;
        }

        .center-on-mobile {

        }

        .navbar-toggler {
            margin-top: 15px;
        }
    </style>

    @RenderSection("styles", required: false)


    @{ Html.RenderPartial("_GoogleAnalytics"); }

</head>
<body style="overflow-x:hidden">
    <div class="container body-content"> 
        @if (ViewBag.ResultMessage != null)
        {
            <div class="alert alert-info">@ViewBag.ResultMessage</div>
        }

        <nav id="topNav" class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-success">
            <button style="color:white" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation-menu" aria-controls="navigation-menu" aria-expanded="false" aria-label="Toggle navigation">
                ☰
            </button>
            <div class="navbar-collapse collapse" id="navigation-menu">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" onClick="alert('Poordooytify - a poor man\'s opensource web music player created by Bernard Gabon. This is an opensource project. Feel free to contribute on Github.com/hubert17/poordooytify. \n\nLogo design by Lourderic Garciano \n\nCloud servers by Mykz Abedz \n\nAll songs were uploaded and contributed by the community and are owned by their respective owner. No copyright infringement intended. Please contact the admin for take down of materials you own.')">About</a>
                    </li>
                </ul>
                <form action="@Url.Action("index", "songlib")" class="mx-2 my-auto d-inline w-100 hidden-sm-up" name="Searching">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search song title, artist, genre">
                        <span class="input-group-btn">
                            <button class="btn btn-outline-secondary" type="submit">GO</button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav text-center">
                    <li class="nav-item hidden-xs-down">
                        <a href="@Url.Action("Create")" class="nav-link">Upload Song</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("index", "songlib", new { r = "1" })")">Top 20 Songs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("index", "mood", new { r = "1" })" )">Moods and Playlists</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand mx-auto" href="@Url.Action("Index", "Home")">             
                <img src="@Url.Content("https://image.ibb.co/dgRmKa/poordooytifyd.png")" height="50" alt="Poordooytify"  >            
            </a>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ml-auto  hidden-sm-up">
                    <li class="nav-item">
                        <a class="nav-link" href="#" onClick="alert('Poordooytify - a poor man\'s opensource web music player created by Bernard Gabon. This is an opensource project. Feel free to contribute on Github.com/hubert17/poordooytify. \n\nLogo design by Lourderic Garciano \n\nCloud servers by Mykz Abedz \n\nAll songs were uploaded and contributed by the community and are owned by their respective owner. No copyright infringement intended. Please contact the admin for take down of materials you own.')">About</a>
                    </li>
                </ul>
                <form action="@Url.Action("index", "songlib")" class="mx-2 my-auto d-inline w-100" name="Searching">
                    <div class="input-group w-75 float-right">
                        <input type="text" name="q" class="form-control" placeholder="Search song title, artist, genre">
                        <span class="input-group-btn">
                            <button class="btn btn-outline-secondary" type="submit">GO</button>
                        </span>
                    </div>
                </form>
            </div>
        </nav>

        @RenderBody()
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <hr />
            <footer>
                <p>Poordooytify Beta - An open <a href="https://github.com/hubert17/Poordooytify" target="_blank">source project</a> created by HD-Gabon</p>
            </footer>
        </div>
    </div>

    @RenderSection("StickyButtons", required: false)




    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    @RenderSection("scripts", required: false)



    <script>
        $(document).ready(function () {
            $('#nextAll').nextAll().remove();
        });
    </script>
    <hr id="nextAll" style="display:none;" />
</body>
</html>
