@model IEnumerable<Poordooytify.Models.Song>

@{
    ViewBag.Title = "Song List";
}

<style>
    audio {
        width: 100%
    }
</style>

<div class="col-md-12">
    <p>
        <a href="@Url.Action("Create")" class="btn btn-outline-primary btn-block hidden-sm-up">Upload Song</a>
        <a href="@Url.Action("Create")" class="btn btn-outline-primary hidden-xs-down">Upload Song</a>
    </p>
</div>


<div class="col-md-6">
    @if (@Model.Count() == 0)
    {
        <div class="alert alert-info" role="alert">
            <strong>Kalooy pud nimo...</strong> We don't have your song yet. Try a different search.
        </div>
    }
    else
    {
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                @foreach (var song in Model)
                {
                    if (!string.IsNullOrEmpty(song.Link))
                    {
                        song.Link = song.Link.Remove(song.Link.Length - 1, 1) + "1";
                    }
                    bool recent = false;
                    var collapseShow = string.Empty;
                    if (TempData["RecentSongId"] != null && song.Id == (int)TempData["RecentSongId"])
                    {
                        recent = true;
                        collapseShow = "show";

                    }
                    <div class="card-header" role="tab" id="heading-@song.Id">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@song.Id" aria-expanded="true" aria-controls="collapse-@song.Id">
                            @song.Title <small class="text-muted">@song.Artist</small>
                        </a>
                    </div>
                    <div id="collapse-@song.Id" data-songId="@song.Id" class="collapse @collapseShow" role="tabpanel" aria-labelledby="heading-@song.Id">
                        <div class="card-block">
                            @if (recent)
                            {
                                <audio name="media-@song.Id" id="media-@song.Id" controls autoplay>
                                    <source src="@song.Link" type="application/ogg">
                                </audio>
                            }
                        </div>
                    </div>

                }
            </div>

        </div>
    }

</div>


@section Scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>

    <script>
        @{
            var songIds = Model.Select(s => s.Id).ToList();
            var arrIds = Newtonsoft.Json.JsonConvert.SerializeObject(songIds);
        }

        var arrSongIds = @arrIds;
        //var curId = arrSongIds[0];

        $('#accordion > .card > .collapse').on('show.bs.collapse', function (e) {
            //alert('Event fired on #' + e.currentTarget.id);
            var sounds = document.getElementsByTagName('audio');
            for (i = 0; i < sounds.length; i++) sounds[i].pause();

            var songId = $('#' + e.currentTarget.id).attr('data-songId');
            if ($('#collapse-' + songId + ' > .card-block').find('audio').length == 0) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetLink","Songlib")",
                    dataType: 'json',
                    data: {
                        songId: songId
                    },
                    success: function (result) {
                        $('#collapse-' + songId + ' > .card-block').html('<audio name="media-' + songId + '" id="media-' + songId + '" autoplay controls><source src="' + result.songLink.slice(0, -1) + '1" type="application/ogg"></audio>');

                        var curAudio = document.getElementById("media-" + songId);
                        curAudio.onplay = function () {
                            //console.log("The video has started to play: " + songId);
                            curAudio.onended = function () {
                                var random = arrSongIds[Math.floor(Math.random() * arrSongIds.length)];
                                //console.log("The audio has ended: " + songId);
                                $('#collapse-' + random).collapse('show');
                                $('#collapse-' + songId).collapse('hide');
                                $('html, body').animate({
                                    scrollTop: $('#collapse-' + random).offset().top - 200
                                }, 4000);
                                ////console.log(".collapse me: " + random);
                            };
                        };

                    }
                });
            }
            else {
                curAudio = document.getElementById("media-" + songId);
                curAudio.play();
                curAudio.onplay = function () {
                    curAudio.onended = function () {
                        var random = arrSongIds[Math.floor(Math.random() * arrSongIds.length)];
                        $('#collapse-' + random).collapse('show');
                        $('#collapse-' + songId).collapse('hide');
                        $('html, body').animate({
                            scrollTop: $('#collapse-' + random).offset().top - 200
                        }, 4000);
                    };
                };
            }


        })
    </script>
}